.card {
  border-bottom: 1px solid #9b9b9b;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.cardInner {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cardIcon {
  background: #d9d9d9;
  font-size: 1.2rem;
  border-radius: 50%;
  padding: 10px;
}
.cardInfo h5 {
  font-family: var(--font-body);
  color: #000;
  font-weight: 400;
  font-size: 1rem;
}
.cardInfo p {
  font-size: 1rem;
  color: #9b9b9b;
}
.cardPrice {
  color: #f4bb4a;
  font-weight: 700;
}
.cardButtonWrapper {
  display: flex;
  gap: 8px;
}
.cardButtonWrapper button {
  padding: 12px;
  border-radius: 15px;
  border: 0;
  color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
  cursor: pointer;
}
.cardDelete {
  background: #ff3e3e;
}
.cardEdit {
  background: #f4bb4a;
}

@media (max-width: 767px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
  }
  .cardInner {
    gap: 12px;
  }
  .cardInner:last-child {
    padding-left: 3.3rem;
    justify-content: space-between;
    width: 100%;
  }
  .cardButtonWrapper button {
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 0.5rem;
  }
  .cardInfo p {
    font-size: 12px;
  }
}
