.content {
  width: 95%;
  max-width: 572px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  max-height: 90vh;
  background-color: rgba(239, 239, 239, 0.85);
  border: 0;
  border-radius: 15px;
  padding: 2rem;
}
